<a class="col-sm-12 btn btn-primary sub" href="club-tour" data-mce-href="club-tour">Club Tour</a>
<a class="col-sm-12 btn btn-primary sub" href="managers" data-mce-href="managers">Managers</a>
<a class="col-sm-12 btn btn-primary sub" href="club-history" data-mce-href="club-history">Club History</a>
<a class="col-sm-12 btn btn-primary sub" href="membership" data-mce-href="membership">Membership</a>
<a class="col-sm-12 btn btn-primary sub" href="get-a-free-day-pass" data-mce-href="get-a-free-day-pass">Get A Free Day Pass</a>
<a class="col-sm-12 btn btn-primary sub" href="privacy" data-mce-href="privacy">Privacy</a>
<a class="col-sm-12 btn btn-primary sub" href="legal" data-mce-href="legal">Legal</a>
