@model PRC.Models.ViewModels.ContactViewModel

@{
    ViewData["Title"] = "Contact Us";
}

    <input type="hidden" value="" class="page-motdid" />
<div class="content-special">
    <div class="row">
        <div class="col-md-8">
            <h1 class="frame-thick">@ViewData["Title"]</h1>
            <div class="frame editor">

                <form id="info" class="contact-form" method="post">
                    <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                        <ul>
                            <li style="display: none;">&nbsp;</li>
                        </ul>
                    </div>
                    <div class="form-group"><label for="Name">Name</label> <input id="name" class="form-control" name="Name" type="text" value="" data-val="true" data-val-required="The Name field is required." /></div>
                    <div class="form-group"><label for="Email">Email</label> <input id="email" class="form-control" name="Email" type="email" value="" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." /></div>
                    <div class="form-group"><label for="Message">Message</label> <textarea id="message" class="form-control" name="Message" rows="10" data-val="true" data-val-required="The Message field is required."></textarea></div>
                </form>
                <div class="form-group"><button class="btn btn-primary btn-contact">Send Message</button></div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="frame">
                <a class="col-sm-12 btn btn-secondary sub" href="/racquet-sports">Racquet Sports</a>
                <a class="col-sm-12 btn btn-secondary sub" href="/aquatics">Aquatics</a>
                <a class="col-sm-12 btn btn-secondary sub" href="/fitness">Fitness & Wellness</a>
                <a class="col-sm-12 btn btn-secondary sub" href="/kid-s-club">Kid's Club</a>
                <a class="col-sm-12 btn btn-secondary sub" href="/in-the-community">In The Community</a>
                <hr>
                <a class="col-sm-12 btn btn-primary newsletter" href="" target="_blank">Read Newsletter</a>
                <hr>
                <h3 class="frame-thick">Events Calendar</h3>
                <div class="cal-main">
                    <div class="calendar">
                        <div class="month-section">
                            <img src="/img/calendar-prev.png" class="month-prev" onclick="prevMonth()">
                            <span class="month-indicator">March</span> 
                            <img src="/img/calendar-next.png" class="month-next" onclick="nextMonth()">
                        </div>
                        <div class="day-of-week">
                            <div>Su</div>
                            <div>Mo</div>
                            <div>Tu</div>
                            <div>We</div>
                            <div>Th</div>
                            <div>Fr</div>
                            <div>Sa</div>
                        </div>
                        <div class="date-grid"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="eventModal" class="modal">
            <div class="modal-content">
                <span class="close">×</span>
                <h6 class="event-dated"><br></h6>
                <h3 class="event-title"><br></h3>
                <p class="event-content"><br></p>
            </div>
        </div>
    </div>
</div>